* {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

body {
  background-image: url(https://cutewallpaper.org/21/transparent-background-gifs/Pastel-Space-Gif-Transparent-Background-Pastel-Blue-Gifs-.gif);
}
