.weather__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 150px;
}

.search {
  margin-bottom: 1px;
  padding: 20px 12px 20px 12px;
  width: 400px;
  border: 1px solid #fff;
}

.min__max {
  display: flex;
}

.wind {
  display: flex;
}

.current__temp {
  padding-top: 20px;
}

.city__name {
  padding-top: 20px;
}

.min__max h3 {
  padding: 20px;
}

.wind h3 {
  padding-left: 10px;
  padding-right: 10px;
}
