.weather__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.search {
  min-height: 30px;
}

.min__max {
  display: flex;
}

.min__max h3 {
  padding: 20px;
}
