.weather__main {
  margin-top: 150px;
  margin-left: 150px;
}

.weather__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.search {
  background: none;
  margin-bottom: 1px;
  padding: 20px 12px 20px 12px;
  width: 400px;
  border: 1px solid #fff;
}

.weather__desc {
  padding-top: 20px;
  text-transform: capitalize;
}

.city__name {
  padding-top: 10px;
  /* padding-bottom: 700%; */
  text-transform: uppercase;
}

.weather__bottom {
  display: flex;
  flex-direction: column;
}

.current__temp {
  font-size: 100px;
}

.min__max {
  padding-top: 10px;
  display: flex;
}

.hum__wind {
  padding-top: 10px;
  display: flex;
}

.min {
  padding-right: 10px;
}

.max {
  padding-left: 10px;
}

.hum {
  padding-right: 10px;
}

.wind__speed {
  padding-left: 10px;
}

@media (max-width: 500px) {
  .weather__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20% 0 0 0;
  }

  .weather__top .search {
    width: 300px;
  }

  
}