.weather__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.search {
  padding: 12px;
}

.min__max {
  display: flex;
}

.city__name {
  padding-top: 20px;
}

.min__max h3 {
  padding: 20px;
}
