.weather__component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px;
}

.search {
  padding: 12px;
}

.min__max {
  display: flex;
}

.wind {
  display: flex;
}

.current__temp {
  padding-top: 20px;
}

.city__name {
  padding-top: 20px;
}

.min__max h3 {
  padding: 20px;
}

.wind h3 {
  padding-left: 10px;
  padding-right: 10px;
}
